<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Support</key>
	<dict>
		<key>Title</key>
		<string>Yotsuba</string>
		<key>Sites</key>
		<array>
			<dict>
				<key>Name</key>
				<string>4chan</string>
				<key>Home</key>
				<string>http://www.4chan.org/</string>
				<key>URLs</key>
				<array>
					<string>www.4chan.org</string>
					<string>boards.4chan.org</string>
					<string>sys.4chan.org</string>
				</array>
				<key>Regex</key>
				<dict>
					<key>Image</key>
					<string>http://images\.4chan\.org/\w+/src/\d+\.\w+</string>
					<key>Post</key>
					<string>http://boards\.4chan\.org/\w+/res/\d+#q?\d+|http://sys\.4chan\.org/\w+/imgboard\.php\?res=\d+</string>
					<key>Thread</key>
					<string>http://boards\.4chan\.org/\w+/res/\d+</string>
					<key>Board</key>
					<string>http://boards\.4chan\.org/\w+/\d*</string>
				</dict>
			</dict>
		</array>
		<key>Software</key>
		<dict>
			<key>Title</key>
			<string>/html/body/form/div[@id=&quot;footer&quot;]/center/font/a[2]/text()</string>
		</dict>
		<key>Identifier</key>
		<string>/html/body/form/span[@class=&quot;filetitle&quot;]</string>
	</dict>
	<key>User</key>
	<dict>
		<key>Name</key>
		<dict>
			<key>Path</key>
			<array>
				<string>./span[ends-with(@class,&quot;postername&quot;)]/text()</string>
				<string>./span[ends-with(@class,&quot;postername&quot;)]/a[@class=&quot;linkmail&quot;]/text()</string>
				<string>./span[ends-with(@class,&quot;postername&quot;)][1]/span/text()</string>
			</array>
			<key>TripString</key>
			<string>([^!]*+)!?</string>
		</dict>
		<key>Email</key>
		<dict>
			<key>Path</key>
			<string>./span[ends-with(@class,&quot;postername&quot;)]/a[@class=&quot;linkmail&quot;]/@href</string>
			<key>Regex</key>
			<string>mailto:(.*)</string>
		</dict>
		<key>Tripcode</key>
		<dict>
			<key>Format</key>
			<string>!%@</string>
			<key>Path</key>
			<array>
				<string>./span[@class=&quot;postertrip&quot;]/text()</string>
				<string>./span[ends-with(@class,&quot;postername&quot;)]/a[@class=&quot;linkmail&quot;]/span[@class=&quot;postertrip&quot;]/text()</string>
			</array>
			<key>Regex</key>
			<string>!([^!]*)</string>
		</dict>
		<key>SecureTripcode</key>
		<dict>
			<key>Format</key>
			<string>!!%@</string>
			<key>Path</key>
			<array>
				<string>./span[@class=&quot;postertrip&quot;]/text()</string>
				<string>./span[ends-with(@class,&quot;postername&quot;)]/a[@class=&quot;linkmail&quot;]/span[@class=&quot;postertrip&quot;]/text()</string>
			</array>
			<key>Regex</key>
			<string>!!(.*)</string>
		</dict>
		<key>Authority</key>
		<dict>
			<key>Mod</key>
			<dict>
				<key>Path</key>
				<string>./span[@class=&quot;commentpostername&quot;]/span/@style</string>
				<key>Regex</key>
				<string>color:(#800080)</string>
			</dict>
			<key>Admin</key>
			<dict>
				<key>Path</key>
				<string>./span[@class=&quot;commentpostername&quot;]/span/@style</string>
				<key>Regex</key>
				<string>color:(#F00000)</string>
			</dict>
		</dict>
	</dict>
	<key>Image</key>
	<dict>
		<key>URL</key>
		<string>./a[img]/@href</string>
		<key>Name</key>
		<string>./span[@class=&quot;filesize&quot;]/span/@title</string>
		<key>Thumbnail</key>
		<string>./a/img/@src</string>
		<key>Size</key>
		<dict>
			<key>Path</key>
			<string>./a/img/@alt</string>
			<key>Regex</key>
			<string>([\d\.^ ]+) </string>
		</dict>
		<key>Measure</key>
		<dict>
			<key>Path</key>
			<string>./a/img/@alt</string>
			<key>Regex</key>
			<string>\d+ (.*)</string>
		</dict>
		<key>Spoiler</key>
		<dict>
			<key>Path</key>
			<string>./a/img/@alt</string>
			<key>Regex</key>
			<string>(Spoiler Image, )</string>
		</dict>
		<key>MD5</key>
		<string>./a/img/@md5</string>
		<key>Width</key>
		<dict>
			<key>Path</key>
			<string>./span[@class=&quot;filesize&quot;]/text()[2]</string>
			<key>Regex</key>
			<string>, ([^x]+)</string>
		</dict>
		<key>Height</key>
		<dict>
			<key>Path</key>
			<string>./span[@class=&quot;filesize&quot;]/text()[2]</string>
			<key>Regex</key>
			<string>x([^,]+)</string>
		</dict>
		<key>Date</key>
		<dict>
			<key>Path</key>
			<string>./span[@class=&quot;filesize&quot;]/a/text()</string>
			<key>Regex</key>
			<string>([^.]+)</string>
		</dict>
	</dict>
	<key>Post</key>
	<dict>
		<key>OP</key>
		<string>/html/body/form</string>
		<key>Index</key>
		<string>/html/body/form/table/tr/td[@id=&quot;%@&quot;]</string>
		<key>Redirect</key>
		<dict>
			<key>Path</key>
			<string>/html/head/meta[1]/@content</string>
			<key>Regex</key>
			<string>URL=(.*)</string>
		</dict>
		<key>Subject</key>
		<string>./span[@class=&quot;filetitle&quot;]</string>
		<key>Date</key>
		<array>
			<string>./text()[string-length() &gt; 1]</string>
			<string>./span[@class="posttime"]</string>
		</array>
		<key>Comment</key>
		<string>./blockquote</string>
		<key>RawComment</key>
		<string>./blockquote/text()</string>
		<key>Admin</key>
		<string>./blockquote/b/text()</string>
		<key>Quotes</key>
		<dict>
			<key>XML</key>
			<string>./blockquote//a[@class=&quot;quotelink&quot;]</string>
			<key>URL</key>
			<string>./@href</string>
			<key>ID</key>
			<dict>
				<key>Path</key>
				<array>
					<string>./font[@class=&quot;unkfunc&quot;]/text()</string>
					<string>./text()</string>
				</array>
				<key>Regex</key>
				<string>(&gt;&gt;\d+|&gt;&gt;&gt;/\w+/\d+)</string>
			</dict>
		</dict>
		<key>InlineQuotes</key>
		<string>./blockquote/font/text()</string>
		<key>Spoilers</key>
		<string>./blockquote/span[@class=&quot;spoiler&quot;]/text()</string>
		<key>Sticky</key>
		<string>./img[@alt=&quot;sticky&quot;]</string>
		<key>Closed</key>
		<string>./span/img[@alt=&quot;closed&quot;]</string>
		<key>BanMessage</key>
		<string>(USER WAS BANNED FOR THIS POST)</string>
	</dict>
	<key>Poster</key>
	<dict>
		<key>Fields</key>
		<dict>
			<key>Name</key>
			<string>name</string>
			<key>Email</key>
			<string>email</string>
			<key>Password</key>
			<string>pwd</string>
			<key>Subject</key>
			<string>sub</string>
			<key>Comment</key>
			<string>com</string>
			<key>Thread</key>
			<string>resto</string>
			<key>File</key>
			<string>upfile</string>
			<key>Extra</key>
			<dict>
				<key>mode</key>
				<string>regist</string>
			</dict>
		</dict>
		<key>Response</key>
		<dict>
			<key>Format</key>
			<string>%@/res/%@#%@</string>
			<key>NotFound</key>
			<dict>
				<key>Path</key>
				<string>/html/body/table/tr/td/font/b/text()</string>
				<key>Regex</key>
				<string>(Error: Thread specified does not exist\.).*</string>
			</dict>
			<key>Disallowed</key>
			<dict>
				<key>Path</key>
				<string>/html/body/table/tr/td/font/b/text()</string>
				<key>Regex</key>
				<string>(Part of your comment isn\&apos;t allowed to be posted :\().*</string>
			</dict>
			<key>Duplicate</key>
			<dict>
				<key>Path</key>
				<string>/html/body/table/tr/td/font/b/a/text()</string>
				<key>Regex</key>
				<string>(Error: Duplicate file entry detected\.)</string>
				<key>URL</key>
				<string>/html/body/table/tr/td/font/b/a[1]/@href</string>
			</dict>
			<key>Captcha</key>
			<dict>
				<key>Path</key>
				<string>/html/body/table/tr/td/font/b/text()</string>
				<key>Regex</key>
				<string>(You seem to have mistyped the verification\.).*</string>
			</dict>
			<key>Flood</key>
			<dict>
				<key>Path</key>
				<string>/html/body/table/tr/td/font/b/text()</string>
				<key>Regex</key>
				<string>Error: (Flood detected, post discarded\.).*</string>
			</dict>
			<key>Thread</key>
			<dict>
				<key>Path</key>
				<string>/html/body/table/tr/td/b/comment()</string>
				<key>Regex</key>
				<string>thread:([^,]+),</string>
			</dict>
			<key>Post</key>
			<dict>
				<key>Path</key>
				<string>/html/body/table/tr/td/b/comment()</string>
				<key>Regex</key>
				<string>no:([^ ]+)</string>
			</dict>
			<key>URL</key>
			<dict>
				<key>Path</key>
				<string>/html/head/meta/@content</string>
				<key>Regex</key>
				<string>url=(.+)/./</string>
			</dict>
		</dict>
		<key>Captcha</key>
		<dict>
			<key>URL</key>
			<string>/html/body/div[@class=&quot;postarea&quot;]/form/table/tr/td/noscript/iframe/@src</string>
			<key>Challenge</key>
			<string>/html/body/form/input[@name=&quot;recaptcha_challenge_field&quot;]/@value</string>
			<key>Image</key>
			<string>/html/body/form/center/img/@src</string>
		</dict>
		<key>URL</key>
		<string>/html/body/div[@class=&quot;postarea&quot;]/form/@action</string>
	</dict>
	<key>Thread</key>
	<dict>
		<key>Root</key>
		<string>/html/body/form</string>
		<key>Replies</key>
		<string>/html/body/form/table/tr/td[@class=&quot;reply&quot;]/@id</string>
		<key>Preceding</key>
		<string>./span[@id=&quot;nothread%@&quot;]/preceding-sibling::hr[1]</string>
		<key>Following</key>
		<string>./span[@id=&quot;nothread%@&quot;]/following-sibling::hr[1]</string>
		<key>Omitted</key>
		<dict>
			<key>Path</key>
			<string>./span[@class=&quot;omittedposts&quot;]/text()</string>
			<key>Regex</key>
			<string>([^\s]+)</string>
		</dict>
		<key>OmittedImages</key>
		<dict>
			<key>path</key>
			<string>./span[@class=&quot;omittedposts&quot;]/text()</string>
			<key>regex</key>
			<string>[^\d]+(\d+)</string>
		</dict>
		<key>Trailing</key>
		<string>./table/tr/td[@class=&quot;reply&quot;]/@id</string>
		<key>Sticky</key>
		<string>/html/body/form/span/img[@alt=&quot;sticky&quot;]</string>
		<key>Closed</key>
		<string>/html/body/form/span/img[@alt=&quot;closed&quot;]</string>
	</dict>
	<key>Page</key>
	<dict>
		<key>Number</key>
		<string>/html/body/form/table[@class=&quot;pages&quot;]/tr/td/b/text()</string>
		<key>Threads</key>
		<string>/html/body/form/span[starts-with(@id,&quot;nothread&quot;)]/a[not(@class=&quot;quotejs&quot;)]/@href</string>
		<key>IDs</key>
		<string>/html/body/form//input[@type=&quot;checkbox&quot;]/@name</string>
	</dict>
	<key>Board</key>
	<dict>
		<key>Location</key>
		<string>/html/body/form/span/a[text()=&quot;Return&quot;]/@href</string>
		<key>Title</key>
		<string>/html/body/div[@id=&quot;header&quot;]/span[@id=&quot;navtop&quot;]/a[@href=&quot;%@&quot;]/@title</string>
		<key>AlternateTitle</key>
		<string>/html/body/div[@class=&quot;logo&quot;]/font/b/span/text()</string>
		<key>Rules</key>
		<string>/html/body/div[@class=&quot;postarea&quot;]/form/table/tr[8]/td/table/tr/td[@class=&quot;rules&quot;]/ul/li</string>
		<key>Pages</key>
		<string>/html/body/form/table[@class=&quot;pages&quot;]/tr/td/a/@href</string>
	</dict>
	<key>Chan</key>
	<dict>
		<key>Name</key>
		<string>/html/body/div[@id=&quot;doc&quot;]/div[@id=&quot;hd&quot;]/div[@id=&quot;logo&quot;]/h1/a/text()</string>
		<key>About</key>
		<string>/html/body/div[@id=&quot;doc&quot;]/div[@id=&quot;bd&quot;]/div[@id=&quot;announce&quot;]/div[@class=&quot;box-inner&quot;]/div[@class=&quot;boxcontent&quot;]/p</string>
		<key>Stylesheet</key>
		<string>/html/head/link[@rel=&quot;stylesheet&quot;][last()]/@href</string>
		<key>Categories</key>
		<string>/html/body/div[@id=&quot;doc&quot;]/div[@id=&quot;bd&quot;]/div[@id=&quot;boards&quot;]/div[@class=&quot;box-inner&quot;]/div[@class=&quot;boxcontent&quot;]/div[@class=&quot;column&quot;]/h3/text()</string>
		<key>Links</key>
		<dict>
			<key>URLs</key>
			<dict>
				<key>Path</key>
				<string>/html/body/div[@id=&quot;doc&quot;]/div[@id=&quot;ft&quot;]/ul/li/a/@href[string-length() &gt; 1]</string>
				<key>NodeRegex</key>
				<string>/(.*)</string>
			</dict>
			<key>Keys</key>
			<string>/html/body/div[@id=&quot;doc&quot;]/div[@id=&quot;ft&quot;]/ul/li/a[@href[string-length() &gt; 1]]/text()</string>
		</dict>
		<key>Boards</key>
		<dict>
			<key>URL</key>
			<string>/html/body/div[@id=&quot;doc&quot;]/div[@id=&quot;bd&quot;]/div[@id=&quot;boards&quot;]/div[@class=&quot;box-inner&quot;]/div[@class=&quot;boxcontent&quot;]/div[@class=&quot;column&quot;]/ul/li/a/@href</string>
			<key>Title</key>
			<string>/html/body/div[@id=&quot;doc&quot;]/div[@id=&quot;bd&quot;]/div[@id=&quot;boards&quot;]/div[@class=&quot;box-inner&quot;]/div[@class=&quot;boxcontent&quot;]/div[@class=&quot;column&quot;]/ul/li/a[@href=&quot;%@&quot;]/@title</string>
			<key>Category</key>
			<string>/html/body/div[@id=&quot;doc&quot;]/div[@id=&quot;bd&quot;]/div[@id=&quot;boards&quot;]/div[@class=&quot;box-inner&quot;]/div[@class=&quot;boxcontent&quot;]/div[@class=&quot;column&quot;]/ul/li/a[@href=&quot;%@&quot;]/../../preceding-sibling::h3[1]/text()</string>
			<key>Age</key>
			<string>/html/body/div[@id=&quot;doc&quot;]/div[@id=&quot;bd&quot;]/div[@id=&quot;boards&quot;]/div[@class=&quot;box-inner&quot;]/div[@class=&quot;boxcontent&quot;]/div[@class=&quot;column&quot;]/ul/li/a[@href=&quot;%@&quot;]/../../preceding-sibling::h3[1]/span[@class=&quot;warning&quot;]</string>
		</dict>
		<key>Logo</key>
		<string>\&apos;(.*logo.png)\&apos;</string>
	</dict>
	<key>Special</key>
	<dict>
		<key>Ban</key>
		<dict>
			<key>Identifier</key>
			<string>/html/body/div[@id=&quot;doc&quot;]/div[@id=&quot;bd&quot;]/div[@class=&quot;box-outer top-box&quot;]/div[@class=&quot;box-inner&quot;]/div[@class=&quot;boxcontent&quot;]/img[@alt=&quot;Banned&quot;]/@src</string>
			<key>Board</key>
			<string>/html/body/div[@id=&quot;doc&quot;]/div[@id=&quot;bd&quot;]/div[@class=&quot;box-outer top-box&quot;]/div[@class=&quot;box-inner&quot;]/div[@class=&quot;boxcontent&quot;]/b[1]/text()</string>
			<key>Reason</key>
			<string>/html/body/div[@id=&quot;doc&quot;]/div[@id=&quot;bd&quot;]/div[@class=&quot;box-outer top-box&quot;]/div[@class=&quot;box-inner&quot;]/div[@class=&quot;boxcontent&quot;]/b[2]/text()</string>
			<key>From</key>
			<string>/html/body/div[@id=&quot;doc&quot;]/div[@id=&quot;bd&quot;]/div[@class=&quot;box-outer top-box&quot;]/div[@class=&quot;box-inner&quot;]/div[@class=&quot;boxcontent&quot;]/b[3]/text()</string>
			<key>To</key>
			<string>/html/body/div[@id=&quot;doc&quot;]/div[@id=&quot;bd&quot;]/div[@class=&quot;box-outer top-box&quot;]/div[@class=&quot;box-inner&quot;]/div[@class=&quot;boxcontent&quot;]/b[4]/text()</string>
			<key>IP</key>
			<string>/html/body/div[@id=&quot;doc&quot;]/div[@id=&quot;bd&quot;]/div[@class=&quot;box-outer top-box&quot;]/div[@class=&quot;box-inner&quot;]/div[@class=&quot;boxcontent&quot;]/b[6]/text()</string>
			<key>Name</key>
			<string>/html/body/div[@id=&quot;doc&quot;]/div[@id=&quot;bd&quot;]/div[@class=&quot;box-outer top-box&quot;]/div[@class=&quot;box-inner&quot;]/div[@class=&quot;boxcontent&quot;]/span[@class=&quot;trip&quot;]/text()</string>
			<key>Comment</key>
			<string>Since parsing is based on location of bolded text, it only works with a single board and ban reason for the moment.</string>
		</dict>
	</dict>
	<key>Definitions</key>
	<dict>
		<key>URL</key>
		<dict>
			<key>BoardRoot</key>
			<string>^(.*\.[^/]+/[^/]+/)</string>
			<key>Board</key>
			<string>\.[^/]+/(\w+)/</string>
			<key>Page</key>
			<string>\.[^/]+/\w+/(\d+)$</string>
			<key>Thread</key>
			<string>/(\d+)[#q\d]*$</string>
			<key>Post</key>
			<string>[#=q](\d+)$</string>
		</dict>
		<key>Dates</key>
		<dict>
			<key>Format</key>
			<string>MM/dd/yy(EEE)HH:mm:ss</string>
			<key>Alternate</key>
			<string>MM/dd/yy(EEE)HH:mm</string>
		</dict>
		<key>Quotes</key>
		<dict>
			<key>Format</key>
			<string>&gt;&gt;%d</string>
			<key>CrossBoardFormat</key>
			<string>&gt;&gt;&gt;/%@/%d</string>
			<key>ID</key>
			<string>[#=](\d+)</string>
			<key>CrossThread</key>
			<string>(\d+#\d+)</string>
			<key>CrossBoard</key>
			<string>[^\?]+\?[^=]+=</string>
			<key>Regex</key>
			<string>&gt;&gt;\d+\s*|&gt;&gt;&gt;/\w+/\d+\s*</string>
		</dict>
	</dict>
</dict>
</plist>
